/* FAQ */
.faq {
  margin: 5rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  & .faq-content {
    flex-basis: 70%;

    & h2,
    p {
      text-align: center;
    }
  }

  & .faq-container {
    flex-basis: 100%;
  }

  @media only screen and (max-width: 768px) {
    margin: 1rem;
    padding: 0;
    flex-direction: column;
  }
}
