/* Hero */
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  background-color: var(--primary-color);
  padding: 0 2.8rem;
  padding-top: 3.5rem;

  & .hero-content {
    flex-basis: 80%;

    & h2,
    p {
      margin-bottom: 1.2rem;
    }

    & button {
      border: none;
      outline: none;
      padding: 10px 20px;
      font-weight: 600;
      color: var(--btn-color);
      background-color: var(--bg-btn-color);
      border-radius: 0.2rem;
    }
  }

  & .hero-img {
    flex-basis: 100%;

    & img {
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    padding: 0;
    padding-top: 3.5rem;

    & .hero-content {
      padding: 0 1.2rem;
    }
  }
}
